
body {
  background-color:#1d3557ff ;
}

header {
  color:#e63946ff ;
  padding: 5rem;
  margin-top:2rem ;
  margin-bottom:2rem; 
  margin-left: 2rem;
  margin-right: 2rem;
  
}

header .site-title {
color: #BE8641;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 40px;
  font-weight: lighter;
  text-transform: capitalize;

}

header nav {
  margin-top:1rem ;
  margin-bottom: 0rem;
  margin-left: 5rem;
  margin-right: 10rem;
 
}

header nav ul {
list-style: upper-latin;
}

header a {
  color: greenyellow ;
  text-decoration: none;

}

header a:hover {
  text-decoration: underline;
  
}


main > section {
  margin:1rem ;
  padding:5rem;
  background-color: #BE8641;
  border-radius: 1rem;

}

/* This fancy code removes the bottom margin from the last section */
main > section:last-child {
  margin-bottom: 0rem;
}

main section.hero {
  padding: 5rem;
  background-color: paleturquoise;
  border-radius: 5rem;
}

main section.hero h1 {
  font-size: xx-large;
  margin: 2rem;
  color:brown;
  letter-spacing: 0rem;
  text-align: center;
}

main section.hero .secondary-heading {
  font-size: x-large;
  letter-spacing: 0rem;
  text-align: center;
}

main section.hero img {
  /* You don't need to modify anything here */
  border-radius: 1rem;
  width: 100%;
  max-width: 100%;
  height: 40rem;
  object-fit: cover;
  object-position: center center;
}


/* MENU SECTION STYLES */

/* Next up is the second section, which is our menu styles */

main section.menu {
  padding: 1rem;
  background-color: #00FF73;
  border-radius: 4rem;
}

main section.menu ul {
  list-style: none;
  list-style: georgian;
  margin: 1rem;
}

main section.menu ul li {
  padding:0rem;
  margin-top: 5rem;
  border-radius: 1rem;
  background-color:#d87093;
}

li:nth-child(2) {
  background-color:#a8dadcff;
  color: #460af5;
}
li:nth-child(4) {
  background-color:#a8dadcff ;
  color:brown ;
}



/* TESTIMONIAL SECTION STYLES */

/* Almost done! The last section is our testimonial styles */

main section.testimonials {
  padding:5rem;
  background-color:#f1faeeff ;
  border-radius: 5rem;
}

.george {
  text-align: center;
  font-size: xx-large;
  font-weight: 700rem;
  color:#6F4E37;
}


main section.testimonials img {
  width: 100%;
  max-width: 100%;
  /* Put a border radius on just the top of the image */
}

.alaneme {
  text-align: center;
  font-weight:700;
  font-size: x-large;
  padding:5rem ;
  background-color: #457b9dff;
  color: brown;
  border-radius: 5rem;

}


/* AND THAT'S IT! YOU ARE DONE. CONGRATULATIONS. POST YOUR LINK! */


/*
 * DONT MODIFY THE CODE
 * BELOW THIS LINE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #242121;
  font-size: 1.2rem;
  line-height: 1.6;
}

main {
  margin: 5rem 0rem;
  padding: 1rem;
}
